.addBtn {
    background-image: url( get-resource-path('icons/fam/add.png', $pool: 'shared') );
}

.newTrade {
    background-image: url( get-resource-path('icons/fam/coins_add.png', $pool: 'shared') );
}

.autoRefreshBtn {
    background-image: url( get-resource-path('icons/fam/arrow_refresh.png', $pool: 'shared') );
}
.deleteBtn {
    background-image: url( get-resource-path('icons/fam/delete.png', $pool: 'shared') );
}

.editBtn {
    background-image: url( get-resource-path('icons/fam/edit.png', $pool: 'shared') );
}

.orderDetails {
    background-image: url( get-resource-path('icons/tf/grid/order_history.png', $pool: 'shared') );
}

.amendBtn {
    background-image: url( get-resource-path('icons/tf/grid/edit_icon.png', $pool: 'shared') );
}

.riskCalBtn {
    background-image: url( get-resource-path('icons/fam/table_lightning.png', $pool: 'shared') );
}

.addMoneyBtn {
    background-image: url( get-resource-path('icons/fam/money_add.png', $pool: 'shared') );
}
.applicationAddBtn {
    background-image: url( get-resource-path('icons/fam/application_add.png', $pool: 'shared') );
}
.applicationDeleteBtn {
    background-image: url( get-resource-path('icons/fam/application_delete.png', $pool: 'shared') );
}
.controlPauseBtn {
    background-image: url( get-resource-path('icons/fam/control_pause_blue.png', $pool: 'shared') );
}
.controlPlayBtn {
    background-image: url( get-resource-path('icons/fam/control_play_blue.png', $pool: 'shared') );
}
.cancelBtn {
    background-image: url( get-resource-path('icons/fam/cancel.png', $pool: 'shared') );
}
.application_cascade {
    background-image: url( get-resource-path('icons/fam/application_cascade.png', $pool: 'shared') );
}
.application_osx {
    background-image: url( get-resource-path('icons/fam/application_osx.png', $pool: 'shared') );
}
.application_view_tile {
    background-image: url( get-resource-path('icons/fam/application_view_tile.png', $pool: 'shared') );
}

.depth {
    background-image: url( get-resource-path('icons/fam/zoom_in.png', $pool: 'shared') );
}

.enableBtn {
    background-image: url( get-resource-path('icons/tf/tools/running.png', $pool: 'shared') );
}

.headerBellIconOn {
    background-image: url( get-resource-path('icons/fam/bell.png', $pool: 'shared') );
}

.headerBellIconOff {
    background-image: url( get-resource-path('icons/fam/bell_delete.png', $pool: 'shared') );
}

.offsetBtn {
    background-image: url( get-resource-path('icons/fam/Offset2_16.jpg', $pool: 'shared') );
}