// Bourbon Mixin for top notch webfont support: https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_font-face.scss
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
  @font-face {
      font-family: $font-family;
      src: url( get-resource-path('#{$file-path}.eot', $pool: 'shared') );
      src: url( get-resource-path('#{$file-path}.eot?#iefix', $pool: 'shared') ) format('embedded-opentype'),
           url( get-resource-path('#{$file-path}.woff', $pool: 'shared') ) format('woff'),
           url( get-resource-path('#{$file-path}.ttf', $pool: 'shared')) format('truetype'),
           url( get-resource-path('#{$file-path}.svg##{$font-family}', $pool: 'shared') ) format('svg');
      font-weight: $weight;
      font-style: $style;
  }
}

// include din
@include font-face( 'DIN Regular', 'fonts/din/dinregularwebfont' );