.tfdepth-mxprice { 
	background-color: #ffaaaa;
}

.tfdepth-miprice {
	background-color: #ffaaaa;
}

.tfdepth-crprice {
	background-color: #aaffaa;
}

.tfdepth-mimxcrprice {
	background-color: red;
}