.processError {
	background-color : #E61E27 !important;
	color: white !important;
}

.processDead {
	background-color : #C3C3C3 !important;
}

.processAlertError {
	background-color : #E61E27 !important;
	color: white !important;
}

.processAlertInfo {
	background-color : #1EBAED !important;
}

.processAlertWarning {
	background-color : #F08221 !important;
}

.process {
	padding		: 1px 0px 1px 6px !important;
	border-radius: 2px;
	font-size	: 8px !important;
	border : 1px solid transparent;

	&:hover {
		border : 1px dotted #666;
	}
}

.app-procMon2-processByTime,
.app-procMon2-hiddenProcess {
	.x-grid-cell-inner {
	    padding		: 1px !important;
		font-size	: 8px !important;
		overflow	: hidden !important;
		white-space	: nowrap !important;
	}
}

.processRow {

}

.processRowCurrent {
	background:#D8E4BC !important;
}

.processBatch {
	background-color:#B7DDE8 !important;

	/*.x-grid-cell-inner {
	    padding		: 1px 0px 3px 6px !important;
		font-size	: 9px !important;
		overflow	: hidden !important;
		white-space	: nowrap !important;
	}*/
}

.processAdapter {
	background-color:#CEC0DA !important;

	/*.x-grid-cell-inner {
	    padding		: 1px 0px 3px 6px !important;
		font-size	: 9px !important;
		overflow	: hidden !important;
		white-space	: nowrap !important;
	}*/
}

.processMessageHubHost {
	background-color:#D8E4BC !important;

	/*.x-grid-cell-inner {
	    padding		: 1px 0px 3px 6px !important;
		font-size	: 9px !important;
		overflow	: hidden !important;
		white-space	: nowrap !important;
	}*/
}

.processOrderFile {
	background-color:#ECF0DF !important;

	/*.x-grid-cell-inner {
	    padding		: 1px 0px 3px 6px !important;
		font-size	: 9px !important;
		overflow	: hidden !important;
		white-space	: nowrap !important;
	}*/
}

.processRouteInjector {
	background-color : #99FF99 !important;

	/*.x-grid-cell-inner {
	    padding		: 1px 0px 3px 6px !important;
		font-size	: 9px !important;
		overflow	: hidden !important;
		white-space	: nowrap !important;
	}*/
}

.gridAutoScrollOverride {
	overflow : hidden !important;
}

.hub {
	background-color:yellow !important;
}

.x-tip {

	width: auto !important;
	max-width : 500px !important;

}

.x-tip-body {

	width: auto !important;
	max-width : 500px !important;

}

.x-tip-body span {

	width: auto !important;
	max-width : 500px !important;

}

#ext-quicktips-tip-outerCt {
	width: auto !important;
}