.x-tool-tf-refresh {
  background-image: url( get-resource-path('icons/tf/tools/refresh-tool.gif', $pool: 'shared') )  !important;
}

.x-tool-pressed {
  .x-tool-tf-refresh {
    background-position: -15px 0;
  }
}

.newOrderTooltip .x-autocontainer-outerCt {
	width: auto !important;
	display: table
}