.app-header {
    .x-toolbar-default {
        height  : 43px;
        background-color: #363f49 !important;
        /*background-image: -moz-linear-gradient(center top , #3D4752, #2D353D) !important;
        background-color: #003366; // Old browsers*/
        @include filter-gradient(#3D4752, #2D353D, vertical); // IE6-9
        @include background-image(linear-gradient(top, #3D4752 0%, #2D353D 93%, #2D353D 100%));
    }

    .defaultLogo {
        width: 190px;
        margin-top: 1px !important;
        background: url( get-resource-path('images/NissanSec_Logo_JP.jpg', $pool: 'shared') );
    }

    .tbtext-title {
        color: white;
        
        font: {
            size: 1.2em;
            weight: bold;
        }
        
        text-shadow: 0px -1px #000;
        top : 20px !important;
    }

    .tfcmonptrader {
        width: 190px;
        margin-top: 1px !important;
        background: url( get-resource-path('images/NissanSec_Logo_JP.jpg', $pool: 'shared') );
    }

    .tfcmonrtrader {
        width: 190px;
        margin-top: 1px !important;
        background: url( get-resource-path('images/NissanSec_Logo_JP.jpg', $pool: 'shared') );
    }

    .labelTheme .x-form-item-label-inner-toolbar,
    .labelTheme .x-form-item-label-inner{
        color: #FFFFFF;
    }

    .x-btn-default-toolbar-small .x-btn-inner {
        color: #fff;
    }

    .x-btn-over .x-btn-inner {
        color: #333;
    }

    .header-error-message:before {
        content : '[E]  '
    }

    .header-error-message {
        /*color: white;
        font-size: 1.2em;
        font-weight: normal;
        padding: 2px 5px 2px 5px;
        background: crimson;*/

        color: #D8000C;
        font-size: 13px;
        font-weight: normal;
        padding: 6px 10px 6px 10px;
        background: #FFBABA;
        vertical-align: middle;
    }

    .header-warning-message:before {
        content : '[W]  '
    }

    .header-warning-message {
        color          : #9F6000;
        font-size      : 13px;
        font-weight    : normal;
        padding        : 6px 10px 6px 10px;
        background     : #FEEFB3;
        vertical-align : middle;
    }

    .header-info-message:before {
        content : '[I]  '
    }

    .header-info-message {
        color          : #00529B;
        font-size      : 13px;
        font-weight    : normal;
        padding        : 6px 10px 6px 10px;
        background     : #BDE5F8;
        vertical-align : middle;
    }

    .header-success-message:before {
        content : '[S]  '
    }

    .header-success-message {
        color          : #4F8A10;
        font-size      : 13px;
        font-weight    : normal;
        padding        : 6px 10px 6px 10px;
        background     : #DFF2BF;
        vertical-align : middle;
    }
}