.sell {
	color : #0468C3 !important
}

.buy {
	color : #EF0505 !important;
}

.newOrderScreen  {
	background-image	: none !important;
	font-size			: 17px !important;
	padding				: 5px !important;
	font-weight			: bold !important;
}