.ux-rangemenu-icon {
    display: block;
    height: 16px;
    background: no-repeat 5px center;
}

.ux-rangemenu-gt {
    background-image: url( get-resource-path('icons/gridFilter/greater_than.png', $pool: 'shared') ) !important;
}

.ux-rangemenu-lt {
    background-image: url( get-resource-path('icons/gridFilter/less_than.png', $pool: 'shared') ) !important;
}

.ux-rangemenu-eq {
    background-image: url( get-resource-path('icons/gridFilter/equals.png', $pool: 'shared') ) !important;
}

.ux-filtered-column {
    font-style: italic;
    font-weight: bold;
}

.ux-gridfilter-text-icon {
    background-image: url( get-resource-path('icons/gridFilter/find.png', $pool: 'shared') ) !important;
}

.x-grid-cell-inner {
	font-family :"tahoma",arial,verdana,sans-serif, "DIN Regular" !important;
}