.tf {
  	.grid-common {

  		.x-grid-cell-inner {
			font-family :"tahoma",arial,verdana,sans-serif, "DIN Regular" !important;
		}
		
	    .positive-ind {
	      color: green;
	    }

	    .negative-ind {
	      color: red;
	    }

	    .up-arrow {
	      padding-left: 20px;
	      background: transparent url( get-resource-path('icons/fam/bullet_up_green.png', $pool: 'shared') ) no-repeat 0 0;
	    }

	    .down-arrow {
	      padding-left: 20px;
	      background: transparent url( get-resource-path('icons/fam/bullet_down_red.png', $pool: 'shared') ) no-repeat 0 0;
	    }

	    .up-arrow-black {
	      padding-left: 20px;
	      background: transparent url( get-resource-path('icons/fam/bullet_up_black.png', $pool: 'shared') ) no-repeat 0 0;
	    }

	    .up-arrow-red {
	      padding-left: 20px;
	      background: transparent url( get-resource-path('icons/fam/bullet_up_red.png', $pool: 'shared') ) no-repeat 0 0;
	    }

	    .down-arrow-blue {
	      padding-left: 20px;
	      background: transparent url( get-resource-path('icons/fam/bullet_down_blue.png', $pool: 'shared') ) no-repeat 0 0;
	    }


	    .best-bid-cell {

	      .top {
	        font-weight: bold;
	        color: #FF4F4F;
	      }

	    }

	    .best-offer-cell {

	      .top {
	        font-weight: bold;
	        color: #3892D3;
	      }

	    }

	    .buy-cell {
	      color: #EF0505;
	    }

	    .sell-cell {
	      color: #0468C3;
	    }

	    .yellow-bg-cell {
	      background-color: #FDFCD9;
	    }

	    .red-bg-cell {
	      background-color: #FFB4B3;
	    }

	    .light-red-bg-cell {
	      background-color: #FFE0C0;
	    }

  	}
}

.x-grid-row-summary .x-grid-cell {
    padding: 0;
}