.tf {
    .blue-text {
      color: blue;
    }

    .red-text {
      color: red;
    }

    .green-text {
      color: green;
    }

    .bold-text {
      font-weight: bold;
    }

    .black-text {
      color: black !important;
    }

}