.sell {
	color : #3892D3 !important
}

.buy {
	color : #FF4F4F !important;
}

.newOrderScreen  {
	background-image	: none !important;
	font-size			: 17px !important;
	padding				: 5px !important;
	font-weight			: bold !important;
}