.tf-en {
    .grid-common {

        .positive-ind {
            color: green;
        }

        .negative-ind {
            color: red;
        }

        .up-arrow {
            padding-left: 20px;
            background: transparent url( get-resource-path('icons/fam/bullet_up_green.png', $pool: 'shared') ) no-repeat 0 0;
        }

        .down-arrow {
            padding-left: 20px;
            background: transparent url( get-resource-path('icons/fam/bullet_down_red.png', $pool: 'shared') ) no-repeat 0 0;
        }

        .best-bid-cell {

            .top {
                font-weight: bold;
                color: #FF4F4F;
            }

        }

        .best-offer-cell {

            .top {
                font-weight: bold;
                color: #3892D3;
            }

        }

        .buy-cell {
            color: #FF4F4F;
        }

        .sell-cell {
            color: #3892D3;
        }

    }

}