.tf-ja {

    .grid-common {

        .x-grid-cell-inner {
            font-family :"tahoma",arial,verdana,sans-serif, "DIN Regular" !important;
        }
    
        .positive-ind {
            color: red;
        }

        .negative-ind {
            color: green;
        }

        .up-arrow {
            padding-left: 20px;
            background: transparent url( get-resource-path('icons/fam/bullet_up_red.png', $pool: 'shared') ) no-repeat 0 0;
        }

        .down-arrow {
            padding-left: 20px;
            background: transparent url( get-resource-path('icons/fam/bullet_down_green.png', $pool: 'shared') ) no-repeat 0 0;
        }

        .best-bid-cell {

            .top {
                font-weight: bold;
                color: #FF4F4F;
            }
        }

        .best-offer-cell {
            .top {
                font-weight: bold;
                color: #3892D3;
            }
        }
    }
}