.app-header {

    .x-toolbar-default {
        height  : 60px;
        background-color: #ffffff !important;
        /*background-image: -moz-linear-gradient(center top , #3D4752, #2D353D) !important;
        background-color: #003366; // Old browsers*/
        @include filter-gradient(#ffffff, #ffffff, vertical); // IE6-9
        @include background-image(linear-gradient(top, #ffffff 0%, #ffffff 93%, #ffffff 100%));
    }

    .defaultLogo {
        background: url( get-resource-path('images/logo_transparent.png' ) );
        width: 190px;
        margin-top: 1px !important;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .tbtext-title {
        color: black;
        font: {
            size: 1.2em;
            weight: bold;
        }
        text-shadow: 0px -1px #000;

        top : 20px !important;

    }

    .labelTheme .x-form-item-label-inner-toolbar,
    .labelTheme .x-form-item-label-inner{
        color: #000000;
    }

    .x-btn-default-toolbar-small .x-btn-inner {
        color: #000000;
    }

    .x-btn-over .x-btn-inner {
        color: #333;
    }

    .header-error-message:before {
        content : '[E]  '
    }

    .header-error-message {
        /*color: white;
        font-size: 1.2em;
        font-weight: normal;
        padding: 2px 5px 2px 5px;
        background: crimson;*/

        color: #D8000C;
        font-size: 13px;
        font-weight: normal;
        padding: 6px 10px 6px 10px;
        background: #FFBABA;
        vertical-align: middle;
    }

    .header-warning-message:before {
        content : '[W]  '
    }

    .header-warning-message {
        color: #9F6000;
        font-size: 13px;
        font-weight: normal;
        padding: 6px 10px 6px 10px;
        background: #FEEFB3;
        vertical-align: middle;
    }

    .header-info-message:before {
        content : '[I]  '
    }

    .header-info-message {
        color: #00529B;
        font-size: 13px;
        font-weight: normal;
        padding: 6px 10px 6px 10px;
        background: #BDE5F8;
        vertical-align: middle;
    }

    .header-success-message:before {
        content : '[S]  '
    }

    .header-success-message {
        color: #4F8A10;
        font-size: 13px;
        font-weight: normal;
        padding: 6px 10px 6px 10px;
        background: #DFF2BF;
        vertical-align: middle;
    }

    .shadow {
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

}